/* fonts */

@font-face {
  font-family: 'ClashGrotesk-Extralight';
  src: url('/fonts/ClashGrotesk/ClashGrotesk-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk-Light';
  src: url('/fonts/ClashGrotesk/ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url('/fonts/ClashGrotesk/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk-Medium';
  src: url('/fonts/ClashGrotesk/ClashGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk-Bold';
  src: url('/fonts/ClashGrotesk/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Zodiak-Thin';
  src: url('/fonts/ZodiakVariable/Zodiak-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url('/fonts/ZodiakVariable/Zodiak-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Light';
  src: url('/fonts/ZodiakVariable/Zodiak-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('/fonts/ZodiakVariable/Zodiak-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Regular';
  src: url('/fonts/ZodiakVariable/Zodiak-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-Italic';
  src: url('/fonts/ZodiakVariable/Zodiak-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Bold';
  src: url('/fonts/ZodiakVariable/Zodiak-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('/fonts/ZodiakVariable/Zodiak-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('/fonts/ZodiakVariable/Zodiak-Extrabold.woff2') format('woff2');
    font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('/fonts/ZodiakVariable/Zodiak-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Black';
  src: url('/fonts/ZodiakVariable/Zodiak-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BlackItalic';
  src: url('/fonts/ZodiakVariable/Zodiak-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}